{%extends 'base.html'%}
{%block 'title'%}
Trainees - update
{%endblock%}

{%block 'content'%}
    <h1>update trainee </h1>
    <form>
            <label for="name">name:</label>
            <input type="text" name="name"/><br><br>

            <label for="email">email:</label>
            <input type="email" name="email" /><br><br>

            <label for="age">age:</label>
            <input type="number" name="age" /><br><br>

            <label for="phone">Phone:</label>
            <input type="number" name="Phone" /><br><br>

            <button>update</button>
      
    </form>
{%endblock%}